{{- if .Values.argoWorkflows.rbac.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: argo-workflow-cobol-mod-access
  labels:
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ark-query-submitter
subjects:
  - kind: ServiceAccount
    name: argo-workflow
    namespace: {{ .Release.Namespace }}
{{- end }}
