{{- if .Values.argoWorkflows.rbac.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: argo-workflow
  labels:
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
