name: Charts CI/CD

on:
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened]
  push:
    branches: ["main"]
  workflow_dispatch:

# Concurrency is per-workflow, per-pull request or branch. This means that
# existing workflows are *only* cancelled if someone pushes a new commit to the
# same pull request or branch (which only triggers for 'main' in this workflow).
# People therefore cannot cancel each others' build, only cancel pending builds
# on their own PRs.
# This pattern does *not* apply to the 'main' branch - which we want to always
# have the full pipeline run on.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  validate-charts:
    name: Validate Chart - ${{ matrix.chart.name }}
    strategy:
      matrix:
        chart:
          - { name: phoenix, path: services/phoenix, namespace: phoenix, upload-artifact: false, run-deployment-test: false }
    uses: ./.github/workflows/_reusable-charts-cicd.yaml
    with:
      chart-name: ${{ matrix.chart.name }}
      chart-path: ${{ matrix.chart.path }}
      chart-namespace: ${{ matrix.chart.namespace }}
      upload-artifact: ${{ matrix.chart.upload-artifact }}
      run-deployment-test: ${{ matrix.chart.run-deployment-test }}
