name: Pull Request Checks

on:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  deploy-charts:
    name: Deploy Chart - ${{ matrix.chart.name }}
    strategy:
      matrix:
        chart:
          - { name: noah, path: agents/noah, namespace: noah }
    uses: ./.github/workflows/_reusable-charts-cicd.yaml
    with:
      chart-name: ${{ matrix.chart.name }}
      chart-path: ${{ matrix.chart.path }}
      chart-namespace: ${{ matrix.chart.namespace }}
      upload-artifact: true
      deploy-to-registry: true
      run-deployment-test: false
      release-tag: 0.1.5
