name: Pull Request Checks

on:
  pull_request:
    branches: ["main"]

jobs:
  validate-pr-title:
    name: Validate PR Title
    uses: ./.github/workflows/_reusable-validate-pr-title.yaml

  validate-docs:
    name: Validate Documentation
    uses: ./.github/workflows/_reusable-docs-cicd.yaml

  validate-phoenix:
    name: Validate Phoenix Service
    uses: ./.github/workflows/_reusable-phoenix-ci.yaml
