name: Pull Request Checks

on:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  validate-pr-title:
    name: Validate PR Title
    uses: ./.github/workflows/_reusable-validate-pr-title.yaml

  validate-docs:
    name: Validate Documentation
    uses: ./.github/workflows/_reusable-docs-cicd.yaml

  validate-charts:
    name: Validate Chart - ${{ matrix.chart.name }}
    strategy:
      matrix:
        chart:
          - { name: langfuse, path: services/langfuse, namespace: langfuse, run-deployment-test: true }
          - { name: phoenix, path: services/phoenix, namespace: phoenix, run-deployment-test: true }
    uses: ./.github/workflows/_reusable-charts-cicd.yaml
    with:
      chart-name: ${{ matrix.chart.name }}
      chart-path: ${{ matrix.chart.path }}
      chart-namespace: ${{ matrix.chart.namespace }}
      upload-artifact: false
      run-deployment-test: ${{ matrix.chart.run-deployment-test }}
